<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>Hello Redux</TITLE>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css">
        
        <link rel="stylesheet" href='style.css' type="text/css"/>
    
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </HEAD>
    <BODY>
        <div id='app' ><%- reactComponent -%></div>
        <script>window.INITIAL_STATE=<%-initialState%></script>
        <script src='bundle.js'>
        </script>
        <!-- <H1>HELOO</H1> -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/6.2.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
    </BODY>
</HTML>